/* Styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #92aaca;
    color: #333;
}

/* En-tête avec un titre et un lien sous celui-ci */
header {
    background-color: #333;
    padding: 30px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Style pour le titre */
.site-title {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 20px; /* Ajoute un espacement sous le titre */
}

/* Style pour le lien vers l'Accueil */
.home-link {
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    padding: 5px 15px;
    background-color: #ff7f50;
    border-radius: 5px;
}

.home-link:hover {
    background-color: #ff6347;
}

/* Section Présentation */
.presentation {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
    position: relative; /* Nécessaire pour positionner l'image absolument */
    margin: 50px; /* Ajoute une marge de 20px à gauche et à droite de la section */
}

.presentation .container {
    max-width: 1200px; /* Limite la largeur du contenu à 1200px */
    margin: 10px; /* Centrer le contenu de la section */
}

.presentation .profile-image {
    position: absolute;
    top: 20px;  /* Espace du haut */
    right: 20px; /* Espace du côté droit */
    width: 150px; /* Largeur de l'image */
    height: auto;  /* Conserver les proportions de l'image */
    border-radius: 50%; /* Arrondir l'image, facultatif */
    border: 3px solid #ff7f50; /* Bordure autour de l'image, facultatif */
}

.presentation h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.presentation p {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.8;
    color: #555;
}

.presentation h3 {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #333;
}

.presentation ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    margin: 0 auto;
    max-width: 800px;
}

.presentation ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #555;
}

.presentation ul li:before {
    content: "• ";
    color: #ff7f50;
    margin-right: 10px;
}




/* Pied de page */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1em;
}
